---
name: cooljeanius/Platypus
on:
  push:
    branches:
      - "**/*"
  pull_request:
jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - uses: maxim-lobanov/setup-xcode@v1.5.1
        with:
          xcode-version: '14.3.1'
      - run: if test -x "$(which pods)"; then pods install; elif test -x "$(which pod)" && test -e Podfile; then pod install; elif test -x "$(which brew)"; then echo "using brew to install" && brew install shellcheck && brew install --cask platypus; else echo "skipping the install step"; fi
      - run: make || xcodebuild || sh ./build_release.sh || ./make_examples.pl || (stat make_examples.pl && wc -l make_examples.pl)
      - run: make clt_tests || (cd CLT/man/cat2html && ./build_cat2html.sh && cd .. && ./make_man_html.sh && cd ../.. && pwd) || (cd CommandLineTool && ./make_man_html.sh && ./make_man_pdf.sh && cd .. && pwd) || (if test -x "$(which shellcheck)"; then which -a shellcheck && (find . -name "*.sh" -print | tee /dev/stdout | xargs shellcheck --severity=error); else find . -name "*.sh" -print | tee /dev/stdout | xargs stat; fi)
      - run: stat ./srcloc.sh && sync && sh ./srcloc.sh
      - run: cd Icons && stat ./make_icons.sh && sync && sh ./make_icons.sh
      - name: lint
        run: |
          if test -x "$(which actionlint)"; then \
            which -a actionlint && actionlint; \
          elif test -x "$(which yamllint)"; then \
            which -a yamllint && yamllint .travis.yml; \
            stat "$(which yamllint)" && yamllint .github/dependabot.yml; \
          elif test -x "$(which pylint)"; then \
            which -a pylint && stat "$(which pylint)"; \
            find . -name '*.py' -print | tee /dev/stdout | xargs pylint --errors-only --exit-zero; \
          else \
            sync && echo "No linting tools found!" && sleep 1; \
          fi
